body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 125px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 100px;
}
