body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
}
input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}
div {
  display: flex;
    flex-direction: column;
    align-items: center;
  font-size: 18px;
}
