body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1d1d1d;
}

.random-image {
    max-width: 500px;
    height: auto;
    background-color: rgb(166, 4, 4); 
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}